VITE_SUPABASE_URL= "https://ylrbatujjqpgyhwoszjx.supabase.co"
VITE_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlscmJhdHVqanFwZ3lod29zemp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3NzA1MDEsImV4cCI6MjA3MTM0NjUwMX0._PbuS4KSKv9__ew45Z577g5s5TBbbXHfCrHiT4O750o"
